---
import EditModal from '../components/EditModal.svelte';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="z-50 sticky top-0 border-b bg-white">
			<div class="flex justify-between items-center h-16">
				<div class="border-r bg-orange-50/50 h-16 w-16 flex justify-center items-center">
					<img src="/portal.png" class="w-12" alt="">
				</div>
			</div>
		</div>
		<div class="flex">
			<div class="bg-gray-50  h-[calc(100vh-4rem)] w-96 border-r">

			</div>
			<div class="relative flex-grow">
				<slot />
			</div>
		</div>
		<EditModal client:load />
	</body>
</html>